.Review{
    height: 100%;
    padding: 6rem;
    /* background: radial-gradient( #ffb53e, #ff9901); */
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading{
    display:flex ;
    align-items: center;
    justify-content: center;
    
    text-transform: uppercase;
    font-size: 4rem ;
}
.User-img{
    width: 20rem;
    height: 20rem;
    /* background-image: url(./images.jpg); */
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    display: block;
    border: 10px solid  #0509fd;
    }
.Slider{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding: 2rem 8rem;
    max-width: 100%;
    background-color: #e5e5e5;
    color: #333;
    
}
.Main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3rem;
}
.paragraph{
    width: auto;
    margin: 3rem auto;
    font-size: 1.7rem;
    line-height: 1.8;
    word-wrap: break-word;
    color: #111111;
    position: relative;
}
.Name{
    font-weight: 700;
    letter-spacing: 3px;
    margin: 2rem auto 0;
    word-wrap: break-word;
    position: relative;
    display: table;
    align-self: flex-start;
    font-size: 2.4rem;
    line-height: 1.2;
    text-transform: capitalize;
}