.Review{
    height: 100%;
    padding: 6rem;
    /* background: radial-gradient( #ffb53e, #ff9901); */
    background:  linear-gradient(to right bottom, rgb(0 0 0 / 40%), #151c20),url(header.jpg);
    /* background: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)),url(cardimg.jpg); */
    
    background-color: rgba(0, 0, 0, 0.8);
    background-position: center;
    background-size: cover;
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading{
    display:flex ;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 4rem ;
}
.User-img{
    width: 20rem;
    height: 20rem;
    /* background-image: url(./images.jpg); */
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    display: block;
    /* border: 10px solid  #0509fd; */
    }
.Slider{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding: 2rem 8rem;
    max-width: 100%;
    background: transparent;
    color: #333;
    
}
.Main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3rem;
}
.paragraph{
    width: auto;
    margin: 3rem auto;
    font-size: 1.7rem;
    line-height: 1.8;
    word-wrap: break-word;
    color: #111111;
    position: relative;
}
.Name{
    font-weight: 700;
    letter-spacing: 3px;
    margin: 2rem auto 0;
    word-wrap: break-word;
    position: relative;
    display: table;
    align-self: flex-start;
    font-size: 2.4rem;
    line-height: 1.2;
    text-transform: capitalize;
}
.info{
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    margin-top: 1rem;
    color: #333;
}