html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family:Poppins, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  color: #000;
  margin: 0;
  padding: 0;
}
:root {
  --swiper-theme-color:#0509fd;
}
.swiper {
    width: 100%;
    height: 100%;
    color: #000;
  }
  .swiper-button-next, .swiper-button-prev{
    color:#0509fd;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background:  #0509fd;
  }
  .swiper-slide img {
    display: block;
    object-fit: cover;
  }
  