body{
    background-color: #EAF5F9;
}
html{
    font-size: 62.5%;
}
@media only screen and (max-width:950px){ 
    /* //900px */
    html{
       
        font-size: 50%;
    } 
}


@media only screen and(max-width:1200px){ 
     /* //1200px */
     html{
       
        font-size: 56.25%;
    } 
}


@media only screen and (min-width:112.5em){   
     /* //1800px */
     html{
       
        font-size: 75%;
    } 
}
:root{
    --primary-color-blue: #0509fd;
}

.Home{


    margin-bottom: 10rem;
    margin-top: 10rem;
    overflow: hidden;
    display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.Home-container{
    display: flex;
   
    
    flex-direction: column; 
}
.Home-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Heading{
    font-family: Poppins, sans-serif;
    font-size: 6.5rem;
    font-weight: 400;
        background: linear-gradient(120deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
    background-repeat: no-repeat;
    background-size: 100% 20%;
    background-position: 0 70%;
}
.Strong{
    font-weight: 800;
    font-family: Poppins, sans-serif;
    font-size: 6.5rem;
    
     
}
.intropara{
    width: 80%;
    margin: 1rem 0 2.8rem;
    font-size: 2rem;
    line-height: 3.5rem;
    font-family: Poppins , Open sans,sans-serif;
    display: flex;
    align-items: center;
    color: rgb(83, 83, 83);
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
}
.second{
    width: 60%;
}
.profiledp{
    border-radius: 50%;
    /* background-color:#338BA8 ; */
    background-color: var(--primary-color-blue);
    height: 20rem;
    width: 20rem;
        margin: 0 auto;
        background-image: url('./sidra.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        /* border-radius: 50%;
        width: 270px;
        height: 270px; */
        /* border: 4px solid #252525; */
        margin: 0 auto 25px;
        display: block;
}
.dp-div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
}
.smicons{
   margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2.5rem;
}
.social{
    cursor: pointer;
    /* color: #338BA8; */
    color: var(--primary-color-blue);
    
}
.mainbtn{
    
    background-color: var(--primary-color-blue);
    color: white;
    padding: 15px 25px;
    border: none;
    font-size: 2rem;
    transform: translateX(-3.3rem);
    cursor: pointer;
    width: 20rem;
    border-radius: 5px;
}
.flex{
    margin-top: 3rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.down-div{
    margin-top: 0.25rem!important;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    margin-left: 0.8rem;
}
@media (max-width:456px){ 
    .down-div{
flex-direction: column ;
justify-content: space-between;
    }
}


.button,
.button1{
    overflow: hidden;
    display: inline-block;
    line-height: 1.4;
    border-radius: 35px;
    white-space: nowrap;
    width: 15rem;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: all .25s ease-in-out;
    text-transform: uppercase;
    text-decoration: none!important;
    position: relative;
    z-index: 1;
    padding: 16px 70px 16px 35px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    outline: none!important;
    cursor: pointer!important;
    border: 1px solid #0509fd;
}
.button1{
    background-color:#0509fd ;
    margin-left: 1rem;
    transition: all .2s;
 
}
@media (max-width:456px){ 
    .button1{
        margin-top: 1rem;
    }

}
.button-icon1 .button1:hover {
    background-color: #0003b1;
}
.button-text{
    position: relative;
    z-index: 2;
    color: #111;
    transition: all .3s ease-out;
}

.button-icon, 
.button-icon1 {
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #fff;
    border-radius: 50%;
    font-size: 15px;
    background-color: #0509fd;
}
.button:hover:before {
    transform: translateX(0);

}
.button:hover .button-text{
    color: #fff;
}
.button:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .3s ease-out;
    background-color: #0509fd;
}
