.Footer{
    height: 50vh;
    background: #000000d8;
}
.main-part{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    flex-direction: column;
}
.Footer-heading{
    margin-top: 0;
    color: aliceblue;
    font-size: 5.5rem;
    margin-bottom: 0;
    text-transform: capitalize;
    font-family: Poppins, sans-serif;
}
.line{
    content: ' ';
    width: 40%;
    background: #888;
    height: 1px;
    margin: 1rem;
    
}
.insta,
.linked{
    transition: color 0.2s;
}
.insta:hover{
    color: #833AB4;
}
.linked:hover{
    color: #0072b1 ;
}